:root {
  /* Color Theme */
  --color-success: #8a8834;
  --color-danger: #8a3435;
  --color-primary: #34698a;
  --color-navBar-footer: #262f35;
  --color-card-bg: #ffffe0;
  --color-success-light: hsl(66, 29%, 45%); /* Lighter version of #8a8834 */
  --color-danger-light: hsl(358, 29%, 45%); /* Lighter version of #8a3435 */
  --color-primary-light: hsl(204, 29%, 45%); /* Lighter version of #34698a */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Yeseva One", serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 320px;
  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: 70px; /* Adjust based on your footer height */
}

/* General Button Enhancements */
.btn {
  padding: 0.5em 1em; /* More padding for better button size */
  font-size: 1em; /* Adjust font size as needed */
  font-weight: 500; /* Bolder font for better readability */
  font:
    1.2em "Josefin Sans",
    sans-serif;
  border-radius: 0.25em; /* Rounded corners for a modern look */
  transition:
    background-color 0.2s,
    border-color 0.2s,
    box-shadow 0.2s; /* Smooth transition for hover and focus states */
  text-align: center; /* Ensure text is centered */
  vertical-align: middle; /* Align text vertically */
  cursor: pointer; /* Cursor pointer to indicate button */
}

/* Success Button */
.btn-success {
  background-color: var(--color-success); /* Use variable */
  color: white;
  border-color: var(--color-success);
}
.btn.btn-success:hover,
.btn.btn-success:focus,
.btn.btn-success:active {
  background-color: #7a7a30; /* Slightly darker for hover/focus/active */
  border-color: #7a7a30; /* Consistent border color for hover/focus/active */
  box-shadow: 0 0 0 0.2rem rgba(138, 136, 52, 0.5); /* Box shadow similar to focus */
}

/* Primary Button */
.btn-primary {
  background-color: var(--color-primary); /* Use variable */
  color: white;
  border-color: var(--color-primary);
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active {
  background-color: #2b5877; /* Slightly darker for hover/focus/active */
  border-color: #2b5877; /* Consistent border color for hover/focus/active */
  box-shadow: 0 0 0 0.2rem rgba(52, 105, 138, 0.5); /* Box shadow similar to focus */
}

/* Danger Button */
.btn-danger {
  background-color: var(--color-danger); /* Use variable */
  color: white;
  border-color: var(--color-danger);
}
.btn.btn-danger:hover,
.btn.btn-danger:focus,
.btn.btn-danger:active {
  background-color: #7a3031; /* Slightly darker for hover/focus/active */
  border-color: #7a3031; /* Consistent border color for hover/focus/active */
  box-shadow: 0 0 0 0.2rem rgba(138, 52, 53, 0.5); /* Box shadow similar to focus */
}

h1 {
  line-height: 1.1;
  font:
    2.5em "Yeseva One",
    serif;
}

.card {
  margin-bottom: 20px;
  transition: box-shadow 0.3s;
  background-color: var(--color-card-bg);
}

.card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-title {
  color: #333;
  font-weight: bold;
  font:
    1.5em "Yeseva One",
    serif;
}

.card-text {
  color: #555;
  font:
    1.2em "Josefin Sans",
    sans-serif;
}

.card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font:
    1em "Josefin Sans",
    sans-serif;
}

.card label {
  font:
    1em "Yeseva One",
    sans-serif;
}

.card textarea {
  height: 100px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font:
    1em "Josefin Sans",
    sans-serif;
}

.footer {
  background-color: var(--color-navBar-footer);
  font:
    1em "Josefin Sans",
    sans-serif;
}

.footer-text {
  color: var(--color-card-bg);
}

.create-card-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.generate-cards-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #f2f2f2;
}
