.login-page-body {
  background-color: #262f35;
  color: #fff;
}

.login-title {
  color: #fff;
  font:
    5em "Yeseva One",
    serif;
}
.login-page-body form-floating text {
  color: #fff;
  font:
    5em "Yeseva One",
    serif;
}
