.register-page-body {
  background-color: #262f35; /* Dark background color */
  color: #fff; /* Text color */
}

.register-title {
  color: #fff; /* Adjust title color if needed */
  font:
    5em "Yeseva One",
    serif;
}

/* Add additional styles for your registration page here */
