/* Sorting Controls Styling */
.sorting-controls .btn {
  padding: 0.4em 0.8em; /* Adjust padding */
  font-size: 0.9em; /* Adjust font size */
  margin-right: 5px; /* Spacing between buttons */
  border-radius: 0.25em; /* Rounded corners */
}

/* Active Button Style */
.btn-active {
  background-color: #346889; /* Active background color */
  color: white;
  border-color: #346889;
  box-shadow: 0 0 0 0.2rem rgba(52, 105, 138, 0.5);
}

/* Inactive Button Style */
.btn-inactive {
  background-color: #f2f2f2;
  color: black;
  border-color: #346889;
}

/* Hover State */
.btn:hover {
  background-color: rgba(52, 104, 137, 0.2);
  color: white;
  border-color: #2b5877;
}

/* Focus State */
.btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 104, 137, 0.25);
  outline: none;
}
